#root{
    --marginleft: 190px
}
body{
    font-family: "Open Sans";
    margin: 0%;
    padding:0%;
}
input{
    height: 30px;
    width: 200px;
}
.border{border: 2px solid green; border-radius:25px}
.main-menu{
    display: flex;
    padding: 300px 100px;
    flex-wrap: wrap;
}
.startBoard{
    background-color: greenyellow;
    transition: 0.3s;
}
.startBoard > h3{
    text-align: center;
    padding-top: 20px;
}
.startBoard:hover{
    cursor: pointer;
    transform: scale(1.1);   
}
.CreateBoard{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: greenyellow;
}
.create-board-head{
    display: flex;
    flex-direction: row;
}
.create-board-head > img{
    margin: 20px 0 0 60px;
    height: 25px;
    width: 25px;
}
.create-board-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.create-board-foot{
    margin-top: 40px;
    flex-direction: row;
}
.create-board-foot > button{
    margin: 0 20px;
    height: 50px;
    width: 100px;
}
.board-list{
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
}
.board-title{
    margin: 50px 0 0 90px;
    text-align: center;
    transition: 0.2s;
}
.board-title > h3{padding-top: 15px;}
.board-title:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.board-size{
    height: 100px;
    width: 300px;
}
.red-x{
    position: relative;
    right: 50px;
    top: 70px;
    height: 25px;
    width: 25px;
    opacity: 0%;
    transition: 0.5s;
}
.board-list:hover > div .red-x{
    cursor: pointer;
    opacity: 100%;
    transform: scale(1.4);
}
.board{
    display: flex;
    flex-direction: column;
}
.addList{
    margin-left: 75px;
    margin-top: 25px;
    border-radius: 10px;
    background-color: #00008b ;
    height: 150px;
    width: 150px;
    color: white;
    transition: 0.3s;
}
.addList > h3{
    padding: 55px 0 0 25px
}
.addList:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.boardName{
    background-color: chartreuse;
    margin: 200px 0 0 var(--marginleft);
    text-align: center;
}
.boardName > h3{padding-top: 15px;}
.formList{
    display: flex;
    margin-left: 0px;
}
.formList > img{
    margin: 10px 0 0 5px;
    height: 25px;
    width: 25px;
    opacity: 0%;
    transition: 0.3s;
}
.formList > input{
    margin: 30px 0 0 50px;
}
.formList:hover > img{
    opacity: 100%;
}
.lists{
    display: flex;
    flex-wrap: wrap;
    margin-left: var(--marginleft);
}
.list{
    min-width: 300px;
    min-height: 100px;
    text-align: center;
    margin: 50px 50px 50px 0;
    background-color: yellowgreen;
}
.card > h3{
    margin-top: 10px;
}
.card-item{
    display: flex;
    justify-content: space-between;
}
.card-item > h3{
    margin-left: 15px;
}
.card-item > img{
    margin: 22px;
    height: 15px;
    width: 15px;
}